<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<div class=""  style="position:relative; left: 0; bottom: 0; width: 100%">
  <footer class='footer-dark footer fixed-bottom'>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">ML/DL</a></li>
            <li><a href="#">Data Analytics</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>DeltaPsi Incorporated &copy;</h3>
          <p>
            Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus
            ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique
            lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
          </p>
        </div>
        <div class="col item social">
          <a  href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a
          ><a href="https://github.com/wlommusic"><i class="fa fa-github" aria-hidden="true"></i></a
          ><a href="https://www.linkedin.com/in/dipta-panda/"><i class="fa fa-linkedin" aria-hidden="true"></i></a
          ><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
      <p class="copyright">wlom © 2021</p>
    </div>
  </footer>
</div>
